<!DOCTYPE html>
<html>

<head>
  <%- include('partials/head') %>
    <%- locals.theme.head %>
</head>

<body lang="<%- blog.language %>">
  <header>
    <%- include('partials/header'); %>
  </header>

  <div class="entries">
  <% locals.posts.forEach(post=> { %>
    <%- include('partials/post-list', {post: post}); %>     
  <% }); %>
  </div>

  <%- include('partials/next'); %>

  <!-- Footer -->
  <footer>
    <%- include('partials/footer'); %>
  </footer>
</body>

</html>