<!DOCTYPE html>
<html>

<head>
  <%- include('partials/head') %>
    <%- locals.theme.head %>
</head>

<body lang="<%- blog.language %>">
  <header>
    <%- include('partials/header'); %>
  </header>

  <div class="h-entry post-single">
    <!-- Heading -->
    <h2 class="p-name <%- locals.post.type !== 'article' ? 'u-hidden' : '' %>">
      <a href="<%- locals.post.url %>">
        <%- locals.post.title %>
      </a>
    </h2>

    <!-- Published Date-->
    <a class="u-url" href="<%- locals.post.url %>">
      <time class="dt-published" datetime="<%- locals.post.published_date.toISOString() %>">
        <%- locals.post.published_date_formatted("h:mm:ss a, MMM Do YYYY") %>
      </time>
    </a>

    <!-- Reply -->
    <% if (post.type === 'reply') { %>
      <div>in reply to:
        <a class="u-in-reply-to" href="<%- post.getMeta('in-reply-to') %>">
          <%- post.getMeta('in-reply-to') %>
        </a>
      </div>
    <% } %>

    <!-- Article -->
    <div class="e-content">
      <%- locals.post.html %>
      <%- include('partials/media'); %>
    </div>        

    <%- include('partials/tags', {post}); %>         

    <!-- Conversations-->
    <div id="conversations"></div>

    <!-- Author h-card -->
    <%- include('partials/author') %>

    <!-- Bridgy Fed -->
    <a class="u-bridgy-fed" href="https://fed.brid.gy/">&nbsp;</a>
    </div>
  <br><br>

  <!-- Footer -->
  <footer>
    <%- include('partials/footer'); %>
  </footer>
</body>

</html>